.c-card-list {
  align-items: center;
  display: grid;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 70rem;
}

@media (min-width: 48em) {
  .c-card-list {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
  }
}
