.c-list-item-card {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.c-list-item-card__title-section {
  display: flex;
  gap: 1.5rem;
}

.c-list-item-card__title-section-image {
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
  transition: 0.2s ease-in-out;
}

.c-list-item-card:hover .c-list-item-card__title-section-image {
  transform: scale(1.04);
  transform-origin: 50% 50%;
}

.c-list-item-card__title-section-image--medium {
  height: 13.625rem;
  width: 23.875rem;
}

.c-list-item-card__title-section-image--small {
  height: 10.625rem;
  width: 10.875rem;
}

.c-list-item-card__title-section-content {
  max-width: 100%;
}

@media (min-width: 25em) {
  .c-list-item-card {
    flex-direction: row;
  }
}

@media (min-width: 48em) {
  .c-list-item-card__title-section {
    padding: 1rem 4rem;
  }

  .c-list-item-card__title-section-content {
    max-width: 90%;
  }
}

@media (min-width: 64em) {
  .c-list-item-card__title-section {
    padding: 1rem 7.5rem;
  }

  .c-list-item-card__title-section-content {
    max-width: 45%;
  }
}
