.c-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  min-height: 4.375rem;
  padding-right: 1rem;
  right: 0;
  top: 0;
  z-index: 1;
}

.c-header__hamburger {
  background-image: url(https://rafaelalucas91.github.io/assets/icons/black/icon-141.svg);
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.c-header__profile-image {
  background-color: #fff;
  border-radius: 20%;
  color: #fff;
  height: 1.5rem;
  padding: 0.25rem;
  width: 1.5rem;
}

.c-header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.c-header__end {
  padding-right: 0.125rem;
}

.c-header__image {
  height: 3rem;
  border-radius: 0.25rem;
}

.c-header__profile-image {
  display: none;
}

.c-header__start {
  justify-content: flex-start;
  padding-left: 0.5rem;
  position: relative;
  top: 0.125rem;
}

@media screen and (min-width: 48em) {
  .c-header {
    font-size: 0.75rem;
  }

  .c-header__container {
    width: 87.5%;
  }

  .c-header__hamburger {
    display: none;
  }

  .c-header__profile-image {
    display: block;
  }
}

@media screen and (min-width: 64em) {
  .c-header__container {
    width: 78.5rem;
  }
}

@media screen and (min-width: 96em) {
  .c-header__container {
    width: 82.5rem;
  }
}
