.c-footer {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.c-footer__right {
  font-weight: 700;
}

@media (min-width: 48em) {
  .c-footer {
    flex-direction: row;
    padding: 2rem 3rem;
  }
}
