.c-publishing-page__banner-image {
  width: 100%;
  height: 17.5rem;
  object-fit: cover;
}

.c-publishing-page__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 0;
}

.c-publishing-page__top-banner {
  display: none;
}

.c-publishing-page__top-section {
  text-align: center;
}

.c-publishing-page__main-header-title {
  color: #222;
  font-size: 3.75rem;
  font-weight: 900;
  padding: 0.5rem 0 0;
}

.c-publishing-page__main-small-header {
  color: #f80;
  text-transform: uppercase;
  font-size: 1.35rem;
  padding: 2rem;
  font-weight: 800;
  position: relative;
  top: 1.5rem;
}

.c-footer-logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  position: relative;
  left: 0.25rem;
}

.c-footer__link {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  margin-left: 0.25rem;
}

.c-publishing-page__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-publishing-page__load-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-load-more-button {
  background-color: #e80d80;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1.125rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.c-load-more-button:hover {
  scale: 1.05;
  transition: 0.1s ease-in-out;
}

.c-load-more__message {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  padding: 1.5rem;
  background: #222;
  color: #fff;
}

.c-load-more__message-link {
  line-height: inherit;
  color: #e80d80;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 48em) {
  .c-publishing-page__top-banner {
    display: block;
    background-color: #222;
    width: 100%;
    height: 12.5rem;
    position: absolute;
    z-index: -1;
  }

  .c-publishing-page__banner-image {
    height: unset;
    max-width: 86%;
  }
}
